options:
  runtime:
    cloud:
      version: "3"
  # メモリ拡張: https://diamondhead.atlassian.net/wiki/spaces/SAAS/pages/3801186341/bitbucket-pipelines
  size: 8x

definitions:
  services:
    docker:
      memory: 2048

pipelines:
  branches:
    production:
      - step:
          name: Build and Push to ECR
          image: atlassian/default-image:5
          services:
            - docker
          caches:
            - docker
          script:
            # Rundeckのバージョン（デフォルトは5.12.0-20250512）
            - export RUNDECK_VERSION=${RUNDECK_VERSION:-5.12.0-20250512}
            # Nginxのバージョン（デフォルトは1.28.0）
            - export NGINX_VERSION=${NGINX_VERSION:-1.28.0}
            # OAuth2Proxyのバージョン（デフォルトはv7.4.0）
            - export OAUTH2_PROXY_VERSION=${OAUTH2_PROXY_VERSION:-v7.4.0}
            # ECRのURL
            - ECR_URI=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com
            # Rundeckのイメージ名
            - export RUNDECK_IMAGE_NAME=${ECR_URI}/saas-rundeck-${ENV}/rundeck
            # Nginxのイメージ名
            - export NGINX_IMAGE_NAME=${ECR_URI}/saas-rundeck-${ENV}/nginx
            # OAuth2Proxyのイメージ名
            - export OAUTH2_PROXY_IMAGE_NAME=${ECR_URI}/saas-rundeck-${ENV}/oauth2-proxy
            # ECRにログイン
            - docker run -e AWS_ACCESS_KEY_ID=${PIPELINES_AWS_ACCESS_KEY_ID} -e AWS_SECRET_ACCESS_KEY=${PIPELINES_AWS_SECRET_ACCESS_KEY} amazon/aws-cli ecr get-login-password --region ${AWS_DEFAULT_REGION} | docker login --username AWS --password-stdin ${ECR_URI}
            # Builderの作成
            - docker buildx create --name mybuilder --driver docker-container --use
            # Build and Push
            - docker buildx bake -f compose-build.yaml
